svg {
    transition: all 0.6s;
}

#userIcon {
    transition: all 0.6s;
}

#passIcon {
    transition: all 0.6s;
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url('./fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('./fonts/ubuntu/Ubuntu-Bold.ttf');
}

* {
    padding: 0;
    margin: 0
}

body {
    background-image: url('./images/background-blur-clean-531880.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Ubuntu-Bold;
    min-height: 100vh;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.65;
    z-index: -2;
}

.container {
    text-align: center;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: calc((100vh - 425px)/2);
    animation: fadeIn 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.container h1 {
    color: white;
    font-family: Ubuntu-Bold;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.6s
}

.mainContainer {
    background-color: #fff;
    height: 330px;
    width: 390px;
    border-radius: 15px;
    margin: 40px auto
}

.input {
    padding: 29px 0;
    border-bottom: #eee 1px solid;
    font-family: Ubuntu-Bold;
    width: 100%;
    transition: all 0.4s
}

.input::after {
    border-bottom: 2px solid #fc3
}

.form-group {
    padding-top: 10px;
    padding-bottom: 25px
}

.input input {
    box-sizing: border-box;
    padding: 15px;
    outline: none;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    width: 75%;
    font-size: 15px
}

.input svg {
    font-size: 18px
}

span::after {
    position: absolute;
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
    transition: all 0.6s;
}

span.special::after {
    width: 390px;
}

input {
    transition: all 0.6s;
}

button {
    border-radius: 2em;
    padding: 11px 50px;
    margin: 30px;
    font-family: Ubuntu-Bold;
    font-size: 18px;
    font-weight: bold;
    background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
    color: white;
    outline: none;
    border: none;
}

button:hover {
    cursor: pointer;
    background: #d41872;
    padding: 11px 50px
}

button:active {
    position: relative;
    top: 2px
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(25%)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}