<html lang="fa">

<head>
    <title>سامانه پایش فرودگاه های کشور</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./favicon.ico" sizes="16x16">
    <script src="../js/script.js"></script>
    <link href="https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body dir="rtl">
    <div class="preload">
        <img id="airplane" src="./images/airplane-min.png" alt="airplane">
        <img src="../images/Clouds.png" id="cloud1" alt="Clouds" class="cloud">
        <img src="../images/Clouds.png" id="cloud2" alt="Clouds" class="cloud">
        <img src="../images/Clouds.png" id="cloud3" alt="Clouds" class="cloud">
        <h3 id="preloader-custom-text1">بارگزاری صفحه برای بار اول ممکن است طول بکشد</h3>
    </div>
    <script>
        window.addEventListener('load', () => {
            const preload = document.querySelector('.preload');
            preload.classList.add('destoyed');
        })
    </script>
    <header class="header">
        <div class="header__sticky-wrapper header__sticky-wrapper--sticky">
            <div class="primary-navigation">
                <div class="primary-navigation__item primary-navigation__item--home-item">
                    <a class="primary-navigation__item-home-anchor" href="#">
                        <svg class="primary-navigation__house-icon" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                            <title>Home</title>
                            <path d="M14.965 7.413h-2.303v6.907H9.21V9.715H5.755v4.605H2.302V7.413H0L7.55 0l7.415 7.413" fill-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
                <div class="primary-navigation__content">
                    <h2 class="primary-navigation__title">سامانه پایش سلامت <br>روسازی فرودگاه های کشور </h2>
                </div>
                <!-- End of Primary Navigation Content-->
                <ul class="primary-navigation__list">
                    <li class="primary-navigation__item js-primary-navigation-item">
                        <a class="primary-navigation__item-anchor js-primary-navigation-item-anchor" href="#">
                            <span>خلاصه مدیریتی</span>
                        </a>
                        <div class="primary-navigation__submenu">
                            <ul class="primary-navigation__submenu-list">
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">خلاصه مدیریتی انبار 1</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">خلاصه مدیریتی انبار 2</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">خلاصه مدیریتی انبار 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!--Statewide Summary Submenu-->
                    <li class="primary-navigation__item js-primary-navigation-item">
                        <a class="primary-navigation__item-anchor js-primary-navigation-item-anchor " href="#">
                            <span>گزارش ها</span>
                        </a>
                        <div class="primary-navigation__submenu">
                            <ul class="primary-navigation__submenu-list">
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">گزارش ها 1</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">گزارش ها 2</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">گزارش ها 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!--Airport Details Submenu-->
                    <li class="primary-navigation__item js-primary-navigation-item">
                        <a class="primary-navigation__item-anchor js-primary-navigation-item-anchor " href="#">
                            <span>وضعیت روسازی</span>
                        </a>
                        <div class="primary-navigation__submenu">
                            <ul class="primary-navigation__submenu-list">
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">وضعیت روسازی 1</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">وضعیت روسازی 2</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">وضعیت روسازی 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!--Maintenance Guidelines Submenu-->
                    <li class="primary-navigation__item js-primary-navigation-item">
                        <a class="primary-navigation__item-anchor js-primary-navigation-item-anchor" href="#">
                            <span>دستورالعمل تعمیر و نگهداری</span>
                        </a>
                        <div class="primary-navigation__submenu">
                            <ul class="primary-navigation__submenu-list">
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">دستورالعمل تعمیر و نگهداری 1</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">دستورالعمل تعمیر و نگهداری 2</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">دستورالعمل تعمیر و نگهداری 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!--Pavement Inspection Submenu-->
                    <li class="primary-navigation__item js-primary-navigation-item">
                        <a class="primary-navigation__item-anchor js-primary-navigation-item-anchor" href="#">
                            <span>دستورالعمل ارزیابی روسازی</span>
                        </a>
                        <div class="primary-navigation__submenu">
                            <ul class="primary-navigation__submenu-list">
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">دستورالعمل ارزیابی روسازی 1</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">دستورالعمل ارزیابی روسازی 2</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">دستورالعمل ارزیابی روسازی 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="primary-navigation__item js-primary-navigation-item">
                        <a class="primary-navigation__item-anchor js-primary-navigation-item-anchor primary-navigation__item-anchor--on-this-page" href="#">
                            <span>متفرقه</span>
                        </a>
                        <div class="primary-navigation__submenu">
                            <ul class="primary-navigation__submenu-list">
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">متفرقه 1</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">متفرقه 2</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">متفرقه 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- متفرقه Submenu -->
                </ul>
            </div>
            <!--Primary Navigation-->
        </div>
        <!--header__sticky-wrapper-->
    </header>
    <!-- Header -->
    
    <div class="main__secondary-nav-and-display-container ">
        <div class="main__secondary-nav-container" aria-label="Miscellaneous navigation">
            <h2 class="main__section-title main__section-title--active">
                <a class="main__section-anchor" href="">
                    <div class="main__section-title-text">متفرقه</div>
                </a>
            </h2>
            <div class="secondary-navigation">
                <ul class="secondary-navigation__list">
                    <li>
                        <a href="#" class="secondary-navigation__anchor">کلمات اختصاری</a>
                    </li>
                    <li>
                        <a href="#" class="secondary-navigation__anchor">اطلاعات کلی</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="main__display-container ">
            <div class="main__display-container-inner">

                <div class="main__breadcrumb-container">
                    <ul class="breadcrumbs" aria-label="Breadcrumbs">
                        <li class="breadcrumbs__crumb">
                            <a class="breadcrumbs__crumb-anchor" href="#">سامانه حمل و نقل هوایی</a>
                            <span class="breadcrumbs__crumb-separator">/</span>
                        </li>
                        <li class="breadcrumbs__crumb" aria-labelledby="breadcrumbs">
                            <span class="breadcrumbs__crumb-current">متفرقه</span>
                        </li>
                    </ul>
                </div>

                <h1 class="main__page-title ">متفرقه</h1>

                <p>در این بخش اطلاعات متفرقه موجود در این سامانه معرفی می شود. برای مشاهده اطلاعات دقیق مربوط به آن مورد ، روی یکی از موارد لیست در سمت راست (یا در لیست زیر) کلیک کنید.</p>
                <ul>
                    <li>
                        <p> <b><a href="#" style="color: #000000">کلمات اختصاری</a></b> — خلاصه عبارات اختصاری مورد استفاده در این سامانه.</p>
                    </li>
                    <li>
                        <p> <b><a href="#" style="color: #000000">اطلاعات کلی</a></b> — اطلاعات کلی در مورد استفاده از این سامانه</p>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</body>

</html>