<html lang="fa">

<head>
    <title>سامانه پایش فرودگاه های کشور</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./favicon.ico" sizes="16x16">
    <script src="../js/script.js"></script>
    <link href="https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body dir="rtl">
    <div class="preload">
        <img id="airplane" src="../images/airplane-min.png" alt="airplane">
        <img src="../images/Clouds.png" id="cloud1" alt="Clouds" class="cloud">
        <img src="../images/Clouds.png" id="cloud2" alt="Clouds" class="cloud">
        <img src="../images/Clouds.png" id="cloud3" alt="Clouds" class="cloud">
        <h3 id="preloader-custom-text1">بارگزاری صفحه برای بار اول ممکن است طول بکشد</h3>
    </div>
    <script>
        window.addEventListener('load', () => {
            const preload = document.querySelector('.preload');
            preload.classList.add('destoyed');
        })
    </script>
    <header class="header">
        <div class="header__sticky-wrapper header__sticky-wrapper--sticky">
            <div class="primary-navigation">
                <div class="primary-navigation__item primary-navigation__item--home-item">
                    <a class="primary-navigation__item-home-anchor" href="/home.html">
                        <svg class="primary-navigation__house-icon" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                            <title>Home</title>
                            <path d="M14.965 7.413h-2.303v6.907H9.21V9.715H5.755v4.605H2.302V7.413H0L7.55 0l7.415 7.413" fill-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
                <div class="primary-navigation__content">
                    <h2 class="primary-navigation__title">سامانه پایش سلامت <br>روسازی فرودگاه های کشور </h2>
                </div>
                <!-- End of Primary Navigation Content-->
                <ul class="primary-navigation__list">
                    <li class="primary-navigation__item js-primary-navigation-item">

                        <a class="primary-navigation__item-anchor js-primary-navigation-item-anchor " href="/Statewide_Summary/Main.html">
                            <span>خلاصه مدیریتی</span>
                        </a>

                        <div class="primary-navigation__submenu">
                            <ul class="primary-navigation__submenu-list">

                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="/404.html">خلاصه منطقه موجودی</a>
                                </li>

                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="/404.html">خلاصه سن موجودی</a>
                                </li>

                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="/Statewide_Summary/Inventory_Condition.html">خلاصه وضعیت موجودی</a>
                                </li>

                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="/Statewide_Summary/State_Wide_Summary_Report.html">گزارش خلاصه عملکرد اجرایی سال 2019</a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <!--Statewide Summary Submenu-->
                    <li class="primary-navigation__item js-primary-navigation-item">
                        <a class="primary-navigation__item-anchor js-primary-navigation-item-anchor " href="#">
                            <span>گزارش ها</span>
                        </a>
                        <div class="primary-navigation__submenu">
                            <ul class="primary-navigation__submenu-list">
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">گزارش ها 1</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">گزارش ها 2</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">گزارش ها 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!--Airport Details Submenu-->
                    <li class="primary-navigation__item js-primary-navigation-item">
                        <a class="primary-navigation__item-anchor js-primary-navigation-item-anchor " href="#">
                            <span>وضعیت روسازی</span>
                        </a>
                        <div class="primary-navigation__submenu">
                            <ul class="primary-navigation__submenu-list">
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">وضعیت روسازی 1</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">وضعیت روسازی 2</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">وضعیت روسازی 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!--Maintenance Guidelines Submenu-->
                    <li class="primary-navigation__item js-primary-navigation-item">
                        <a class="primary-navigation__item-anchor js-primary-navigation-item-anchor" href="#">
                            <span>دستورالعمل تعمیر و نگهداری</span>
                        </a>
                        <div class="primary-navigation__submenu">
                            <ul class="primary-navigation__submenu-list">
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">دستورالعمل تعمیر و نگهداری 1</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">دستورالعمل تعمیر و نگهداری 2</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">دستورالعمل تعمیر و نگهداری 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!--Pavement Inspection Submenu-->
                    <li class="primary-navigation__item js-primary-navigation-item">
                        <a class="primary-navigation__item-anchor js-primary-navigation-item-anchor  primary-navigation__item-anchor--on-this-page" href="#">
                            <span>دستورالعمل ارزیابی روسازی</span>
                        </a>
                        <div class="primary-navigation__submenu">
                            <ul class="primary-navigation__submenu-list">
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">دستورالعمل ارزیابی روسازی 1</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">دستورالعمل ارزیابی روسازی 2</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">دستورالعمل ارزیابی روسازی 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="primary-navigation__item js-primary-navigation-item">
                        <a class="primary-navigation__item-anchor js-primary-navigation-item-anchor " href="#">
                            <span>متفرقه</span>
                        </a>
                        <div class="primary-navigation__submenu">
                            <ul class="primary-navigation__submenu-list">
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">متفرقه 1</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">متفرقه 2</a>
                                </li>
                                <li class="primary-navigation__submenu-item js-primary-navigation-submenu-item">
                                    <a class="primary-navigation__submenu-item-anchor js-primary-navigation-submenu-item-anchor " href="#">متفرقه 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Miscellaneous Submenu -->
                </ul>
            </div>
            <!--Primary Navigation-->
        </div>
        <!--header__sticky-wrapper-->
    </header>
    <!-- Header -->
    <div class="main__secondary-nav-and-display-container ">
        <div class="main__secondary-nav-container" aria-label="Pavement Inspection navigation">
            <h2 class="main__section-title">
                <a class="main__section-anchor" href="../pavement-inspection\_pci-review-main.html">
                    <div class="main__section-title-text">دستورالعمل ارزیابی روسازی</div>
                </a>
            </h2>
            <div class="secondary-navigation">
                <ul class="secondary-navigation__list">
                    <li>
                        <a href="#" class="secondary-navigation__anchor">بررسی اجمالی</a>
                    </li>
                    <li>
                        <a href="#" class="secondary-navigation__anchor">اندازه گیری پریشانی AC
                            <svg class="secondary-navigation__chevron" width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <title>Chevron</title>
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M11 .5l-5 5-5-5" stroke="#FFF"></path>
                                    <path class="secondary-navigation__chevron-path" d="M11 1.5l-5 5-5-5" stroke-width="2"></path>
                                </g>
                            </svg>
                        </a>

                    </li>
                    <li>
                        <a href="#" class="secondary-navigation__anchor secondary-navigation__anchor--active">علل پریشانی AC</a>
                    </li>
                    <li>
                        <a href="#" class="secondary-navigation__anchor">
                            اندازه گیری پریشانی PCC
                            <svg class="secondary-navigation__chevron" width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <title>Chevron</title>
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M11 .5l-5 5-5-5" stroke="#FFF"></path>
                                    <path class="secondary-navigation__chevron-path" d="M11 1.5l-5 5-5-5" stroke-width="2"></path>
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="secondary-navigation__anchor">علل پریشانی PCC</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main__display-container ">
            <div class="main__display-container-inner">
                <div class="main__breadcrumb-container">
                    <ul class="breadcrumbs" aria-label="Breadcrumbs">
                        <li class="breadcrumbs__crumb">
                            <a class="breadcrumbs__crumb-anchor" href="#">سامانه حمل و نقل هوایی</a>
                            <span class="breadcrumbs__crumb-separator">/</span>
                        </li>
                        <li class="breadcrumbs__crumb">
                            <a class="breadcrumbs__crumb-anchor" href="#">دستورالعمل ارزیابی روسازی</a>
                            <span class="breadcrumbs__crumb-separator">/</span>
                        </li>
                        <li class="breadcrumbs__crumb" aria-labelledby="breadcrumbs">
                            <span class="breadcrumbs__crumb-current">علل پریشانی AC</span>
                        </li>
                    </ul>
                </div>
                <h1 class="main__page-title ">علل پریشانی AC</h1>
                <p>برای آسفالت آسفالت ، جدول زیر انواع پریشانی هایی را که ممکن است در حین بررسی PCI شناسایی شوند ، و همچنین توضیحات مختصر و دلایل احتمالی هر نوع پریشانی خلاصه می کند.</p>
                <table processed="true">
                    <thead>
                        <tr style="text-align: center; vertical-align: bottom;">
                            <th style="width: 200px; top: 0px;">نوع پریشانی</th>
                            <th style="top: 0px;">توضیحات پریشانی</th>
                            <th style="top: 0px;">علت احتمالی پریشانی</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تمساح Criging</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">مجموعه ای از ترک های بهم پیوسته یا موازی ، اغلب در یک پیاده رو.</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">خرابی خستگی سطح بتن آسفالت در بارگیری مکرر ترافیک.</font></font></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">خون ریزی</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">فیلمی از مواد قیر بر روی سطح روسازی.</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">مقادیر بیش از حد سیمان آسفالت یا تارها در مخلوط و / یا محتوای خالی بودن هوا کم است.</font></font></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">مسدود کردن ترک</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ترک های گسترده به هم پیوسته که در زاویه های تقریباً راست ، با فاصله 1- تا 10 فوت فاصله دارند.</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">خرد شدن بتن آسفالت و دوچرخه سواری دمای روزانه؛ </font><font style="vertical-align: inherit;">این بار همراه نیست. </font><font style="vertical-align: inherit;">پیشرفت ترک خوردگی طولی و عرضی.</font></font></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">راه راه</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">مجموعه ای از پشته ها و دره های نزدیک فاصله در فواصل منظم عمود بر جهت ترافیک.</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">عملکرد ترافیک همراه با یک لایه آسفالت ناپایدار است.</font></font></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">افسردگی</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">منطقه ای محلی در ارتفاعی پایین تر از آسفالت اطراف.</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تنظیم خاک پایه یا می تواند در هنگام ساخت "ساخته شود".</font></font></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">فرسایش جت-انفجار</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">مناطق تیره و کربن شده روسازی.</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">بایندر قیر سوخته یا کربن شده است.</font></font></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">بازتاب مشترک ترک</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ترک های ناشی از حرکت زمینه ای در اتصالات PCC.</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">حرکت صفحات بتونی در زیر سطح AC به دلیل تغییرات حرارتی و رطوبت.</font></font></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ترک خوردگی طولی و عرضی (L&amp;T)</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">هرگونه ترک خوردگی در سطح پیاده رو که در رده های دیگر قرار نمی گیرد.</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ترک ها ممکن است به دلیل 1) اتصالات خط بتونی ضعیف ساخته شده ، 2) کوچک شدن سطح AC به دلیل دمای پایین یا سخت شدن آسفالت ، یا 3) ترک بازتابنده ناشی از ترک های یک صفحه بتونی زیرین باشد.</font></font></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ریختن روغن</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">نرم شدن موضعی سطح روسازی.</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ریختن روغن ، سوخت یا سایر حلالها.</font></font></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">پچ کردن</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">حذف و جایگزینی مواد برای تعمیر یا برش ابزار.</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">نامعلوم</font></font></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">مصالح جلا</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">منطقه وسیعی از سنگدانه یا صیقلی سنگدانه.</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">برنامه های تکراری ترافیک</font></font></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">غرق شدن</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">از دست دادن ذرات دانه درشت از سطح؛ </font><font style="vertical-align: inherit;">همچنین برای ضبط پوسته پوسته شدن مهرهای دوغاب استفاده می شد.</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">باند آسفالت ممکن است به طور قابل توجهی سخت شده باشد و منجر به از بین رفتن چسبندگی به کل درشت شود.</font></font></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">روت کردن</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">افسردگی سطح در مسیر چرخ اتفاق می افتد. </font><font style="vertical-align: inherit;">باید ناشی از بار باشد.</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">معمولاً در اثر ادغام یا حرکت جانبی مواد به دلیل بارهای ترافیکی ایجاد می شود.</font></font></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">در حال حرکت</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تورم و ترک خوردگی روکش AC مجاور به روسازی PCC.</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">در جائیکه روکش های PCC به روکش های قابل انعطاف مجاور باشد ، "رشد" PCC می تواند آسفالت AC را بتراشد.</font></font></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ترک خوردگی</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">الگوی ترک های نیمه هلال یا نیمه ماه ، غالباً در مواقعی که رفت و آمد یا ترمز می شود.</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">مخلوط سطح کم مقاومت یا پیوند ضعیف بین سطح و لایه بعدی ساختار روسازی.</font></font></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ورم</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">منطقه ای محلی از روسازی بالاتر از روسازی اطراف؛ </font><font style="vertical-align: inherit;">نه به دلیل حرکت دادن</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">معمولاً در اثر عمل سرما یا تورم خاک ایجاد می شود.</font></font></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">هوازدگی</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">از دست دادن ذرات دانه ریز و اتصال آسفالت.</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">باند آسفالت ممکن است به طور قابل توجهی سخت شده باشد.</font></font></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>